<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/stylesheets/main.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/controller.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  </head>
  <body>


    <section id="main" class="wrapper">
      <div class="inner">
        <div class="content">
          {{{ body }}}
        </div>
      </div>
    </section>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>

  </body>
</html>
